.ticket-image {
    max-height: 100%;
    height: auto;
    max-width: 500px; /* Adjust maximum height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  
  @media (max-width: 768px) {
    .ticket-image {
      max-height: 150px; /* Smaller height for mobile screens */
    }
  }
  
  .card-text strong {
    font-weight: bold;
  }
  
  .card-text .text-danger {
    color: #dc3545; /* Red color for price */
    font-size: 1.2rem; /* Adjust font size as needed */
  }
  
  @keyframes glowing {
    0% { box-shadow: 0 0 5px #f3a42f; }
    50% { box-shadow: 0 0 20px #f3a42f; }
    100% { box-shadow: 0 0 5px #f3a42f; }
  }
  
  .glowing-border {
    animation: glowing 1.5s infinite;
    border: 2px solid #f3a42f;
    border-radius: 8px;
    padding: 10px;
  }
  
  .view-ticket-loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .view-ticket-loader:before, .view-ticket-loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .view-ticket-loader:before {
    animation: before8 2s infinite;
   }
   
   .view-ticket-loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .view-ticket-loader {
    position: relative;
   }

   .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: #f3a42f;
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: black;
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(01, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  

  .text-1 {
    margin-bottom: 0.25rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }

  @media (max-width: 1200px) {
    .text-2 {
      font-size: 1.25rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 992px) {
    .text-2 {
      font-size: 1rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 768px) {
    .text-2 {
      font-size: 0.875rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 576px) {
    .text-2 {
      font-size: 0.75rem;
    }
    .text-1 {
      font-size: 0.75rem;
    }
  }