.ticket-image {
    max-height: 100%;
    height: auto;
    max-width: 500px; /* Adjust maximum height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  
  @media (max-width: 768px) {
    .ticket-image {
      max-height: 150px; /* Smaller height for mobile screens */
    }
  }
  
  .card-text strong {
    font-weight: bold;
  }
  
  .card-text .text-danger {
    color: #dc3545; /* Red color for price */
    font-size: 1.2rem; /* Adjust font size as needed */
  }
  
  @keyframes glowing {
    0% { box-shadow: 0 0 5px #f3a42f; }
    50% { box-shadow: 0 0 20px #f3a42f; }
    100% { box-shadow: 0 0 5px #f3a42f; }
  }
  
  .glowing-border {
    animation: glowing 1.5s infinite;
    border: 2px solid #f3a42f;
    border-radius: 8px;
    padding: 10px;
  }
  
  .view-ticket-loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .view-ticket-loader:before, .view-ticket-loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .view-ticket-loader:before {
    animation: before8 2s infinite;
   }
   
   .view-ticket-loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .view-ticket-loader {
    position: relative;
   }

   .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: black;
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(01, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  

  .text-1 {
    margin-bottom: 0.25rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }

  @media (max-width: 1200px) {
    .text-2 {
      font-size: 1.25rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 992px) {
    .text-2 {
      font-size: 1rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 768px) {
    .text-2 {
      font-size: 0.875rem;
    }
    .text-1 {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 576px) {
    .text-2 {
      font-size: 0.75rem;
    }
    .text-1 {
      font-size: 0.75rem;
    }
  }


  


  .btn-buy {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #f3a42f;
    min-width: 100%;
    border: solid;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn-buy:hover {
    background-color: white;
  }
  
  .btn-buy .animation {
    border-radius: 100%;
    animation: ripple 0.5s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }





  .card-request {
    width: 100%;
    height: auto;
    background: transparent;
    border-radius: 15px;
   }
   
   .card-request .card-request-border-top {
    width: 60%;
    height: 3%;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .card-request span {
    font-weight: 600;
    color: black;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 22px;
   }
   
   .card-request .owner-details {
    font-weight: 300;
    color: black;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 15px;
   }
   
   .card-request .img {
    width: auto;
    height: 300px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    box-shadow: 1px 1px 2px black;
   }




   .content > *, .modal > * {
    padding: 0.875em;
  }
  
    .title {
      font-size: 1.25em;
      font-weight: 600;
      line-height: 1.2;
      display: flex;
      justify-content: center;
    }
  
     .message {
      line-height: 1.2;
      text-align: center;
    }
    
    .actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    

    .but-email {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;
      width: 180px;
      height: 50px;
      background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
      border-radius: 30px;
      border: 1px solid #8F9092;
      transition: all 0.2s ease;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #606060;
      text-shadow: 0 1px #fff;
    }
    
    .but-email:hover {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }
    
    .but-email:active {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
    
    .but-email:focus {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
    
    
    

    .form-email {
      background-color: #fff;
      display: block;
      padding: 0.5rem;
      max-width: 280px;
      border-radius: 0.5rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    
    .form-email-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }
    
    .input-container {
      position: relative;
    }
    
    .input-container input, .form button {
      outline: none;
      border: 1px solid #e5e7eb;
    }
    
    .input-container input {
      background-color: #fff;
      padding: 0.6rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 230px;
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      margin-top: 10px;
    }
    
    .submit {
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      background-color: #4F46E5;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      width: 100%;
      border-radius: 0.5rem;
      text-transform: uppercase;
    }
    
    .signup-link {
      color: #6B7280;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
    
    .signup-link a {
      text-decoration: underline;
    }